{
    "gene":"",
    "gtf": "https://api.gdc.cancer.gov/data/be002a2c-3b27-43f3-9e0f-fd47db92a6b5",
    "low_q": 0.25,
    "high_q": 0.75,
    "output_dir": "",
    "probe_files": [],
    "number_gene_neighbors": [],
    "tcga_types": [],
    "padj_threshold": 0.05,
    "ppi_score_threshold": 900,
    "na_fraction": 0.5
}
